@charset "UTF-8";
/*crear variables */
@import url("https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Montserrat & family= Nanum+Gothic & family= PT+Serif & family= Roboto:wght@100 & family= Signika+Negative:wght@300 & display=swap");
/*Maps footer*/
/*presentado en main_nosotros.scss*/
* {
  /*reset*/
  margin: 0;
  padding: 0;
  font-family: "Signika Negative", sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

.colornav {
  background-color: #333; }
  .colornav .logo {
    width: 17%;
    height: auto; }

.flexible {
  width: 100%;
  justify-content: flex-end; }
  .flexible .nav-link {
    padding: 0 5px;
    font-weight: bold;
    transition: all 0.3s ease; }
    .flexible .nav-link:hover {
      background-color: gold; }

.btn {
  transition: 0.4s ease-in;
  background-color: gold; }
  .btn .btn::before,
  .btn .btn::after {
    z-index: -1; }
  .btn:hover {
    background: #097003;
    box-shadow: 0 0 5px #b6f009, 0 0 25px #b6f009, 0 0 200px #b6f009; }

.tituloAbajo, .nosotrosConte .recuadroNosotros .recuadroNosotros h1, .calidadBoot .tituloCalidad h1 {
  color: aliceblue; }

.prueba_sass, .fondoIndex {
  display: flex;
  justify-content: center;
  padding: 10px; }

.fondoGradient {
  background-image: linear-gradient(to right top, #626555, #acafa7, #f6fa6f, #d8f8c2, #797e79); }

.fondoIndex {
  width: 100%;
  background-image: url(./../assets/img/index1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; }
  .fondoIndex h1 {
    margin-top: 10%;
    font-size: 3rem;
    text-shadow: 0px 10px 7px #fcfc28; }

.tituloh2 {
  font-size: 2rem; }

.cardIndex {
  margin: 8%;
  background-color: #121312; }

/*page Nosotros*/
.nosotrosConte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*mixin*/ }
  .nosotrosConte .recuadroNosotros {
    background-color: gold;
    height: auto;
    word-wrap: break-word;
    text-align: center; }
    .nosotrosConte .recuadroNosotros .recuadroNosotros h1 {
      color: black; }
    .nosotrosConte .recuadroNosotros .parrafoNosotros {
      line-height: 1.8em;
      text-align: center;
      padding-bottom: 5%;
      font-size: 1rem; }

.card-group {
  height: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
  /*a cada imag de los cards le di su tamaño por ser diferentes */ }
  .card-group .colorBg {
    background-color: gold; }
  .card-group .una {
    width: 80%;
    object-fit: cover;
    margin-left: 10%; }
  .card-group .dos {
    width: 86%;
    object-fit: cover;
    margin-left: 7%; }
  .card-group .tres {
    width: 89%;
    object-fit: cover;
    margin-left: 6%; }
  .card-group .card-img-top {
    transition: transform .5s; }
  .card-group .card-img-top:hover {
    transform: scale(1.1); }

.section-title {
  margin-bottom: 30px;
  color: #272425;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section-title:after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: gold;
  display: inline-block;
  margin-top: 10px; }

*,
::after,
::before {
  box-sizing: border-box; }

/*pageservicios*/
.carousel-item {
  height: 80vh; }
  .carousel-item .imgCarrusel1 {
    height: 100%;
    object-fit: cover; }
  .carousel-item .imgCarrusel2 {
    object-fit: cover;
    height: 100%; }

/*page calidad*/
.calidadBoot {
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  .calidadBoot .tituloCalidad {
    background-color: gold;
    height: auto;
    width: 100%;
    word-wrap: break-word;
    text-align: center; }
  .calidadBoot .tituloCalidad h1 {
    color: black;
    padding: 3%;
    line-height: 5%;
    /*extend pagina nosotros*/ }
  .calidadBoot .parrafoCalidad {
    line-height: 1.8em;
    text-align: center;
    padding-bottom: 5%;
    font-size: 1rem; }
  .calidadBoot .letra1 {
    font-size: 1.4rem;
    font-style: italic; }

.paginaError {
  background-image: url(../assets/img/nene_durmiendo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  width: 100%; }

#countUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  #countUp .number {
    font-size: 8rem;
    font-weight: 500px;
    color: white;
    text-shadow: 0px 20px 7px black; }

/*page contacto*/
.contacto {
  background-color: #789132;
  width: 90%;
  height: 100vh; }

.iconos-redes {
  animation: float infinite 4s ease-in-out; }

.red {
  font-size: 20px; }

.red--facebook {
  color: #1f1ff5; }

.red--instagram {
  color: #fa05a4;
  animation-delay: 0.5s; }

.red--youtube {
  color: red;
  animation-delay: 1s; }

.red--whatsapp {
  color: #16f716;
  animation-delay: 1.5s; }

@media screen and (min-width: 0) and (max-width: 768px) {
  .cabecera {
    width: 100%; }
  .padrelogo {
    width: 200px;
    height: 30%; }
    .padrelogo .logo {
      width: 30px; }
  .flexible {
    justify-content: flex-end;
    align-items: end; }
  .fondoIndex {
    width: 100%;
    object-fit: cover;
    object-position: bottom; }
    .fondoIndex .fondoIndex h1 {
      font-size: 1rem; }
      .fondoIndex .fondoIndex h1 .btn-warning {
        width: 30%;
        font-size: 0.4rem; }
  /*pagenosotros*/
  .nosotrosConte {
    height: initial; }
    .nosotrosConte .recuadroNosotros h1 {
      font-size: 0.8rem; }
      .nosotrosConte .recuadroNosotros h1 .recuadroNosotros p {
        font-size: 0.6rem; }
  .card-group {
    height: initial; }
  /*pageservicios*/
  .carousel-item {
    height: 250px;
    max-width: 400px !important; }
  /*calidad*/
  .tituloCalidad h1 {
    font-size: 0.8rem; }
  /*contacto*/
  .contacto {
    background-color: #4f450f; }
  /*pagina 404*/
  .paginaError {
    width: 95%;
    height: 300px;
    object-fit: cover;
    object-position: center; }
    .paginaError .number {
      font-size: 3rem !important; } }
