/*page calidad*/
.calidadBoot {
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    .tituloCalidad {
        background-color: $color-terciario;
        height: auto;
        width: 100%;
        word-wrap: break-word;
            text-align: center;

    }

    .tituloCalidad h1 {
        color: black;
        padding: 3%;
        line-height: 5%;
        

        /*extend pagina nosotros*/
        @extend .tituloAbajo;

    }
    
     .parrafoCalidad {
    line-height: 1.8em;
    text-align: center;
    padding-bottom: 5%;
    font-size: $fuente-normal;
  
     
     }     
     .letra1 {
        font-size: 1.4rem;
        font-style: italic; 

      }

}