@media screen and (min-width: 0) and (max-width: 768px) {

  
    .cabecera {
        width: 100%;
    }
                .padrelogo {
        
                    width: 200px;
                    height: 30%;
        
                    .logo {
                        width: 30px;
                    }
        
                }

         .flexible{
            justify-content: flex-end;
            align-items: end;
           }     
    
         .fondoIndex {
             width: 100%;
             object-fit: cover;
             object-position: bottom;

        .fondoIndex h1 {
        
            font-size: $fuente-normal;
            
                .btn-warning {
                    width: 30%;
                    font-size: 0.4rem;
            
                }
            }
         }
    
    /*pagenosotros*/
    .nosotrosConte {
        height: initial;

        .recuadroNosotros h1 {
            font-size: $fuente-pequeña;

            .recuadroNosotros p {
                font-size: 0.6rem;
            }
        }

    }

    .card-group {
        height: initial;
    }


    /*pageservicios*/
         .carousel-item {
        height: 250px;
            max-width: 400px !important;
        }

    /*calidad*/
    .tituloCalidad h1 {
        font-size: $fuente-pequeña;

    }


    /*contacto*/
    .contacto {
        background-color: rgb(79, 69, 15);


    }

        /*pagina 404*/
                                                                 .paginaError {
                                                                     width: 95%;
                                                                     height: 300px;
                                                                     object-fit: cover;
                                                                     object-position: center;
            
                .number {
                    font-size: 3rem !important;
                }
            }
            
}