$color-primario: #333;
$color-secundario: rgb(103, 94, 40);
$color-terciario: gold;

$color-texto: #333;
$color-blanco: white;

$fuente-personalizada: 2rem;
$fuente-normal: 1rem;
$fuente-pequeña: 0.8rem;
$fuente-grande: 0.6rem;

$tipografia-general: 'Signika Negative', sans-serif;

$flex: flex;

/*Maps footer*/
$redes: (
    facebook: rgb(31, 31, 245),
    Instagram: rgb(250, 5, 164),
    youtube: red,
    whatssap: rgb(22, 247, 22)
);